@import "tailwindcss";
@import "tw-animate-css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(1, 0, 0, 0.87);
  background-color: #f5f6f8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "WooridaumB";
  src: url("./assets/fonts/WooridaumB.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WooridaumL";
  src: url("./assets/fonts/WooridaumL.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WooridaumR";
  src: url("./assets/fonts/WooridaumR.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-WooridaumB: "WooridaumnB", sans-serif;
  --font-WooridaumL: "WooridaumnL", sans-serif;
  --font-WooridaumR: "WooridaumnR", sans-serif;
}

/* 살짝 둥둥 떠다니기 */
@keyframes floaty {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

/* 버튼 은은한 펄스(그림자+살짝 위로) */
@keyframes btnPulse {

  0%,
  100% {
    transform: translateY(0);
    box-shadow: 0 6px 14px rgba(0, 94, 249, 0);
  }

  50% {
    transform: translateY(-2px);
    box-shadow: 0 12px 24px rgba(0, 94, 249, 0.25);
  }
}

select {
  -webkit-appearance: none;
  /* 크롬 화살표 없애기 */
  -moz-appearance: none;
  /* 파이어폭스 화살표 없애기 */
  appearance: none;
  /* 화살표 없애기 */
}